@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #555555;
}

@theme {
  --color-mvd-pink: oklch(0.6257 0.2431 355.82);
  --color-mvd-orange: #f5892b;
  --color-mvd-yellow: #ffc428;
  --color-mvd-sand: #bfb53d;
  --color-mvd-skyblue: #5dcbe8;
  --color-mvd-gray: #45464b;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Aptos';
  src: url('/fonts/Aptos-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aptos';
  src: url('/fonts/Aptos-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Aptos';
  src: url('/fonts/Aptos-Extrabold-Italic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'Aptos';
  src: url('/fonts/Aptos-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aptos';
  src: url('/fonts/Aptos-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}